html {
	position: relative;
	min-height: 100%;
}

body {
	/* margin-bottom seukuran dengan tinggi footer */
	margin-bottom: 60px;
	padding-top: 50px;
	background-image: url('../img/flat/teteh.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}